head {
    background-color: blueviolet
}
th {
    background-color: darkgreen
}
td {
    padding: 12px;
    border-bottom: 2px solid
}
tr:hover {
    background-color: black;
    color: azure;
}
table {
    border-collapse: collapse;
    font-size: 18px;
}
td:nth-child(1) {
    width: 25%;
}
td:nth-child(4) {
    width: 40%;
}